<!-- app/views/export_mailer/ready.html.erb -->
<p>Hello <%= @user.name %>,</p>

<p>Your closed tickets export is ready.</p>

<p> There are <%= @export.ticket_count %> closed tickets in this export. </p>

<p>
  Generated at: <%= @export.created_at.strftime('%Y-%m-%d %H:%M') %><br>
  File: <%= @export.file.filename %>
</p>

<p>
  Download it here:<br>
  <a href="<%= @download_url %>"><%= @download_url %></a>
</p>